/* Start of login popup display */

#loginContainer {
    z-index: 2;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease-in;
}

/* Centered popup */
#login {
    display: flex;
    flex-direction: column;
    background-color: #181A1B;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    border: thick solid #ffffff;
}

/* Header section of login popup, contains title and close button. */
#loginHeader {
    display: flex;
    flex-direction: row;
}

/* Places the button to the top right with a negative margin allowing the title to be centered */
#loginHeader button {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: -35px;
    visibility: hidden;
    width: 25px;
    height: 25px;
}

#loginHeader img {
    pointer-events: auto;
    visibility: visible;
    width: 25px;
    height: auto;
}

/* Login form container styling */
#loginFormContainer {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Styling of the actual form for logging in */
#loginForm {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#loginForm div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Class for input fields on login screen */
.loginInput {
    width: 70%;
    height: 30%;
    border-radius: 10px;
    font-size: 18px;
}

/* Class for login error labels */
.loginErrorLabel {
    text-align: center;
    font-size: 24px;
    color: #B00020;
    width: 100%;
    font-weight: bold;
}

/* Make submit button appear at top of flex item */
#formSubmit {
    align-items: flex-start !important;
    flex-direction: row !important;
}

/* Submit button styling */
#formSubmit button {
    width: 60%;
    height: 50%;
    font-size: 20px;
    border-radius: 20px;
}
