@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

html {
    color-scheme: dark !important;
}

body {
    background-color: #181a1b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 30px;
}

.main-grid {
    width: 100%;

    flex: 1;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

#posts-container {
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

#posts-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.post {
    border: 1px solid gray;
    margin: 20px 0;
    padding: 15px;
    border-radius: 15px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.post-time {
    margin-left: auto;
    text-align: right;
}

.new-post {
    position: relative;
    height: 150px;
    grid-column: 1 / 3;
    padding: 40px;
    display: flex;
}

.new-post input {
    height: 100%;
    width: 100%;

    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    outline: none;
}

.new-post i {
    position: absolute;
    right: 70px; /* Distance from the right edge */
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #aaa;
    pointer-events: none; /* Ensure the icon does not block input interaction */
}

.sidebar {
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    border: 4px solid;
    border-image: linear-gradient(
            to top right,
            rgba(73, 0, 0, 1) 0%,
            rgba(121, 9, 9, 1) 35%,
            rgba(255, 0, 0, 1) 100%
        )
        0 0 0 100%;
}

.loading-indicator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 1);
    border-left-color: #000;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
